.page{
  height: 200px;
  margin-top: 200px;
}
#upload, #delete, #signup-form, #login-form, 
#signout, .admin-actions, #make-admin, 
#upload-item, #delete-item, #changePasswordForm{
  display: none;
}
.progress{
  width: 50%;
  margin: 15px; 
}
#file-upload{
  height: 20px;
}
.row{
  margin: 10px 0 10px 0;
}
.btn{
  margin: 5px 5px 5px 5px;
}
#fileUpload{
  margin-left: 20px;
}