@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600|Cormorant+SC:600");
body {
  margin: 0;
  /* background-image: url("https://spencer-s-site.firebaseapp.com/pictures/background.jpg"); */
  background-image: url("pictures/background.jpg");

  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  background-size: 100%;
  --background: rgba(26, 26, 26, 0.8);
  --textColor: white;
}

.container {
  width: 100%;
  background: var(--background);
  position: absolute;
  top: 0;
}

header {
  height: 70px;
  text-align: center;
  padding-top: 5px;
  height: 119px;
}

h1 {
  margin: 5px auto;
  width: 210px;
  text-align: center;
}

.logo {
  font-size: 40px;
  font-family: "Cormorant SC", serif;
  color: var(--textColor);
  text-decoration: none;
  width: 200px;
}
#subtext {
  margin: 0;
}

.container p {
  color: var(--textColor);
  font-family: "Cormorant SC", serif;
}

hr {
  width: 15em;
}

nav {
  text-align: center;
  font-family: "Cormorant SC", serif;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 5px 2%;
  padding-top: 10px;
  position: relative;
  text-align: center;
}

nav a,
#footer a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: rgb(191, 191, 191);
}

nav a::before,
.logo::before,
#footer a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: rgb(191, 191, 191);
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}
h1 a::before {
  margin-top: 5px;
}
nav a:hover::before,
#footer a:hover::before {
  width: 100%;
}
h1 a:hover::before {
  width: 210px;
}
.dropdown-content {
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  position: absolute;
  transform: translateY(-5px);
  background: var(--background);
  transition: all 0.3s ease-in-out;
  width: 130px;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transform: translateY(5px);
}

* {
  box-sizing: border-box;
}

#policy {
  color: var(--textColor);
  font-family: "Cormorant SC", serif;
  text-align: left;
  background: rgba(26, 26, 26, 0.9);
  margin: 32px 20% 0 20%;
  padding: 50px;
  border-radius: 20px;
  border: solid gold 1px;
}
#policy li {
  text-align: left;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 200px;
  background: rgba(26, 26, 26, 0.9);
  margin-top: 200px;
  text-align: center;
  font-family: "Cormorant SC", serif;
}

#footer ul {
  text-decoration: none;
  list-style: none;
  width: 130px;
  padding-inline-start: 0px;
}

#footer li {
  margin: 4px 2%;
  padding-top: 10px;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 474px) {
  .logo {
    margin: 0px auto;
  }
  .container p {
    margin: 0;
  }
  nav li {
    display: block;
    padding-top: 10px;
  }
  .dropdown-content {
    display: none;
  }
  #policy {
    margin: 162px 0 0 0;
  }
}
